<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

    <!-- Definimos dos testsuites para separar unit vs integration -->
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <logging>
    <!-- Reporte JUnit (XML) -->
    <log type="junit"           target="build/logs/junit.xml"/>
    <!-- TestDox HTML: listado de tests pasados/fallidos -->
    <log type="testdox-html"    target="build/logs/testdox.html"/>
    <!-- Coverage HTML: gráficos de cobertura -->
    <log type="coverage-html"   target="build/coverage"/>
    <!-- (Opcional) Coverage en Clover XML -->
    <log type="coverage-clover" target="build/logs/clover.xml"/>
</logging>


    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
